@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/styles/acumin.css');

body {
    font-family:'acuminPro', sans-serif;
    color:#3A3A3A;
    /* 第一个改的地方：字体调大 */
    font-size:14px;
}

/* 底栏颜色设为白色 */
.bottom-color{
    background-color: #fff;
}

input {background:transparent;}
input:focus {outline:none;}

.font-epilogue {font-family: 'acuminPro', sans-serif;}

.button-border-gray-2 {border-color:#d6d6d6; border-width:1px;}





.custom-pb-86 {padding-bottom:86px;}
.custom-pb-70 {padding-bottom:70px;}
.custom-pt-70 {padding-top:70px;}

/* 内边距顶10px */
.custom-pt-10 {padding-top: 10px;}

.heading5 {
    font-family: 'acuminPro', sans-serif;
    color:#3a3a3a;
    font-size:20px;
    font-weight:700;
}
.subtitle1 {
    font-family:'acuminPro', sans-serif;
    /* weight字体变重 */
    font-weight:700;
    color:#3a3a3a;
    /* 字体略大 */
    font-size:16px;
}
.subtitle2 {
    font-family:'acuminPro', sans-serif;
    font-weight:500;
    color:#3a3a3a;
    font-size:14px;
}

.button-primary {
    background-color:#035CDC;
    font-size:16px;
    font-weight:700;
    color:#ffffff;
    border-radius:4px;
    transition:500ms;
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
}
.button-primary:disabled, .button-primary[disabled] { opacity:48%; }
.button-link {
    font-size:16px;
    color:#035CDC;
    padding-top:12px;
    padding-bottom:12px;
}
.button-secondary {
    background-color:#f5f5f5;
    font-size:16px;
    font-weight:700;
    color:#3a3a3a;
    border-radius:4px;
    transition:500ms;
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
}
.link {color:#035CDC;}

.sidebar-container.open {
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    transition:all 300ms;
}
.sidebar {
    top:0;
    left:-75%;
    z-index:99;
    height:100vh;
    background-color:#fff;
    position:fixed;
    padding:16px;
    transition:all 300ms;
    width:75%;
    box-shadow:0 0 10px #3A3A3A;
}
.sidebar-container.open .sidebar {left:0%;}

.footer {
    box-shadow:0 0 5px #3A3A3A;
}

/* 背景颜色改回来了 */
.bg-primary {background:#035CDC;}
.bg-f6f6f9 {background-color:#f6f6f9;}
.bg-gray {background-color:#6A6A6A;}

/* 背景颜色改了 */
.bg-gray-2 {background-color: #F5F5F5;}
.bg-gray-10-75 {background-color:rgba(58, 58, 58, 0.75);}
.bg-red {background-color:#BD5242;}
.bg-red-4 {background-color:#E69B89;}
.bg-red-7 {background-color:#BD5242;}
.bg-green-2 {background-color:#ABE3C5;}
.bg-green-7 {background-color:#34A066;}

/* 新增的类 */
.bg-banner {background-color: #FFF6DF; border-color: #EC991C;}

.color-normal {color:#3a3a3a;}
.color-green {color:#34A066;}
.color-green-11 {color:#143B26;}
.color-red {color:#BD5242;}
.color-red-7 {color:#BD5242;}
.color-gray {color:#6A6A6A;}
.color-white {color:#fff !important}

/* 新增的类 */
.color-black {color: #000;}

.circle-red-dot {
    background:#BD5242;
    border-radius:50%;
    height:8px;
    width:8px;
}

/* 新增的类 */
.imgSelect {
    background: url("/img/moneybag.webp") no-repeat center center;
}
/* 新增的类 */
.css-13cymwt-control {
height: 49px;
}
/* 新增的类 */
.bg-contact {
    background-image: url('/img/support_agent.jpg');
    width: 50px;
    height: 50px;
    right: 0px;
}
/* 新增的类 */
.contact-content{
    display: none;
}
/* 新增的类 */
.small-square{
    width: 50px;
    height: 50px;
}
/* 新增的类 */
.hover-change-contant-visiblity{
    .contact-content{
        display: block;
    }
}
/* 新增的类 */
.image-avoid-blur{
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
/* 新增的类 */
.border-style{
    border: #ffffff solid 3px;

}
/* 新增的类 */
.logo-max {
    max-width: 100%;
}
/* 新增的类 */
.text-loss {
    color: #ed7014;
}
/* 新增的类 */
.bg-color-loss{
    background-color:#ED7014 ;
}
.enlarge-subtitle1{
    font-family:'acuminPro', sans-serif;
    font-weight:400;
    font-size:20px;

}
.usd-enlarge{
    font-size:24px;
    font-weight: 550;
}
.portofolio-color{
    background-color: #f3f3c9;
    border-radius: 1rem;
    border: white solid 2px;
    margin-top: 10%;
    margin-left: 7px;
    margin-right: 7px;
}
.enlarge-title-portofolio{
    font-size: 20px;
}
.balance-box{
    border-radius: 1rem;
    border: white solid 2px;
    margin-left: 7px;
    margin-right: 7px;
}
.KBI{
    margin-top: 30%;
}
.functional-icon{
    font-family:'acuminPro', sans-serif;
    /* weight字体变重 */
    font-weight:700;
    color:#3a3a3a;
    /* 字体略大 */
    font-size:20px;
}
.small-items{
    font-size: 12px;
    font-weight: 700;
}
.noti{
    padding-top: 2.5rem;
    padding-left: 60%;
}
.refreshPrice{
    color: white;
    cursor: pointer;
    position: relative;
}
.buttonClass{
    background-color: #4290ee;
    border: 1px solid #4290ee;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    position: absolute;
    right: 0;
    font-size: 13px;
}
